*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.topbar{
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 800px;
    margin-left: 350px;
    
}
.box1{
    display: inline-block;
    margin: 60px;
    border: solid 4px;
    width: 500px;
    height: 300px;
    justify-content: space-evenly;
    overflow: hidden;

    
}
h2{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
.p2{
    margin: 20px;
    font-family: sans-serif;

}
p{
    margin-left: 15px;
}
.paragraph{
    margin-left: 150px;
}
#like{
    font-weight: bold;
    background-color: yellow;
    color: black;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    margin-top: 80px;
    margin-left: 80px;
    box-shadow: 2px 2px;
}
#log{
    background-color: blue;
    color:white;
    padding: 5px;
}
.box2{
    display:inline-block;
    margin: 60px;
    border: solid 4px;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 6%;
    font-weight: bold;

    
}
.defined{
    font-size: 30px;
}
#Add{
    background-color: #93C47D;
    padding: 30px;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
    box-shadow: 2px 2px;
    width: 70%;
}
.box3{
    display: inline-block;
    margin: 60px;
    border: solid 4px;
    width: 500px;
    height: 300px;
    justify-content: space-evenly;
    overflow: hidden;

    
}
